# Default ignored files
/shelf/
.idea/intellij-javadocs-4.0.1.xml
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
/out/
# Datasource local storage ignored files
/../../../../../:\Concordia\6461 Communication Network and Protocols\Github\.idea/dataSources/
/../../../../../:\Concordia\6461 Communication Network and Protocols\Github\out\
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
