# Default ignored files
/shelf/
.gitignore/workspace.xml

**/out/*
# Datasource local storage ignored files
/../../../../../:\Concordia\6461 Communication Network and Protocols\Github\.idea/dataSources/
/../../../../../:\Concordia\6461 Communication Network and Protocols\Github\out\
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
